/* SubredditList.module.css */

.subredditList {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.subredditItem {
  margin-bottom: 5px;
}

.subredditItem a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.subredditItem a:hover {
  background-color: #ddd;
}
